body {
  div[ytme-dom] {
    display: none;
  }
}
body[ytme-enabled] {
  div[ytme-dom] {
    display: block;
  }
  .ytme-tooltip {
    position: absolute;
    font-size: 12px;
    background-color: #ffe5ab;
    padding: 4px 8px;
    border-radius: 2px;
    color: #000;
    top: 0;
    transform: translate(0, calc(-100% - 8px));
    z-index: 10010;
    white-space: nowrap;
  }
}
div[ytme-dom] > div[ytme-root] {
  display: none;
  position: absolute;
  top: 36px;
  z-index: 10009;
  right: 36px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  background: #00000062;
  padding: 8px;
  border-radius: 8px;
  opacity: 0.9;
  transition: 0.3s;
  &:hover {
    background: #000000a1;
    opacity: 1;
  }
  &[data-ytme-state='active'] {
    display: flex;
  }
  [ytme-move-header] {
    padding: 4px 12px;
    width: 100%;
    border-radius: 4px;
    background-color: transparent;
    user-select: none;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    & > div {
      display: flex;
      align-items: center;
      color: #cccccc91;
      &:hover {
        color: #fff;
      }
    }
    button {
      padding: 0;
      border: 0;
      user-select: none;
      cursor: pointer;
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        fill: #cccccc;
        transition: 0.3s;
      }
      &:hover {
        svg {
          fill: #fff;
        }
      }
    }
  }
  &:focus {
    outline: none;
    opacity: 1;
    background: #000000a1;
    [ytme-move-header] {
      background-color: #ffffff38;
      & > div {
        color: #fff;
      }
    }
  }
  [ytme-buttons] {
    display: flex;
    flex-direction: column;
    gap: 8px;
    button {
      flex: 1;
      white-space: nowrap;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      width: auto;
      height: 24px;
      background: #ffffff46;
      border: 0;
      color: #ffffff;
      font-size: 12px;
      padding: 2px 6px;
      border-radius: 2px;
      cursor: pointer;
      transition: 0.3s;
      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
      &:hover:not(:disabled) {
        background: #ffffffdc;
        color: #000;
      }
      &[data-ytme-state='active'] {
        color: #d91414;
        background: #ffffff;
      }
    }
  }
  [ytme-header-btn-group] {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }
  [ytme-btn-group] {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }
}
body {
  .ytme-loop {
    display: none;
  }
}
body[ytme-enabled] {
  .ytme-loop {
    display: block;
    position: absolute;
    z-index: 200;
    height: 100%;
    width: 4px;
    height: 16px;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 220, 0);
  }
}
